html{
    background-color: black;
}

h1{
    color: white;
}

div#container{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 100px;
}

button{
    padding: 0;
    border: none;
    background: none;
}